body {
    margin: 0px;
    text-align: center;
    background-color: #111111;
;
}

hr{
    border: 6px dotted;
    border-bottom: none;
    border-color: #FA255E;
    border-width: 20px;
    width: 10%;
}

h1 {
    color: #FA255E;
    font-family: "Cinzel Decorative", cursive;
    font-size: 6vw;
    margin: 3.125rem auto 0 auto;
}

h2{
    font-weight: normal;
    margin: auto;
    font-size: 4vw;
}

h2, h3{
    color: #C39EA0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

a{
    color: #C39EA0;
}

p {
    font-family: "Montserrat", sans-serif;
}

.Pro {
    text-decoration: underline;
}

.top-container {
    background-color: #000000;
    color: #F8E5E5;
    position: relative;
    padding: 150px 100px 0 100px;
}

.middle-container{
    background-color: #0000;
}

.profile{
    padding : 100px;
    background-color: #0000;
    color: white;
}

.profile-photo{
    width: 25%;
}

.intro{
    width: 30%;
    margin: auto;
    line-height: 2;
}

.skills{
    padding: 100px;
    color: white;
}
.skill-row{
    width: 50%;
    margin: 6.25rem auto 6.25rem auto;
    text-align: left;
    line-height: 2;

}

.skill-img{
     width: 20%;
}

.web{
    float: left;
    margin-right: 30px;
}

.python{
    float: right;
    
}

.csharp{
    float : left;
    margin-right: 30px;
}

.sql{
    float: right;
    margin-left: 30px;
}

.photography{
    float: left;
    margin-right: 30px;
}

.cloud {
    width: 15%;
}

.mountain {
    width: 75%;
}

.top-cloud {
    position: absolute;
    right: 20%;
    top: 0%;
}

.bottom-cloud {
    position: absolute;
    left: 20%;
    bottom: 35%;
}

.bottom-container{
    background-color: #000000;
    padding : 25px;
    margin-top: 5%;
    color: white;
}

.contact-me{
    padding: 100px;
    color: white;
}

.footer-link{
    margin: 50px;
    font-size: 1.15rem;
}

.contact-desc{
    margin-bottom: 30px;
}

.btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    font-size: 20px;
    background: #000000;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-top: 100px;
  }
  
  .btn:hover {
    background: #fa255e;
    text-decoration: none;
  }